@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 1100px) {
}
@media only screen and (max-width: 1000px) {
  .menu_list {
    padding: 10px 0px;
  }
  .menu_list > .menu_link:first-child {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 800px) {
  .bigger_header > p {
    width: 100%;
  }
  .ddd {
  }
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 560px) {
  .repos {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 500px) {
  .button_list {
    align-items: center;
    justify-content: center;
  }
  .switch_theme {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
  }
  .footer {
    padding-bottom: 10px;
  }
}
