



@media only screen and (min-width: 1960px) {
    :root {
        --width: 50%;
        --contentWidth: 50%
    }
}

@media only screen and (max-width: 1960px) {
    :root {
        --width: 50%;
        --contentWidth: 50%
    }
}

@media only screen and (max-width: 1800px) {
    :root {
        --width: 60%;
        --contentWidth: 60%
    }
}

@media only screen and (max-width: 1600px) {
    :root {
        --width: 70%;
        --contentWidth: 70%
    }
}

@media only screen and (max-width: 1490px) {
    :root {
        --width: 75%;
        --contentWidth: 75%
    }
}

@media only screen and (max-width: 1390px) {
    :root {
        --width: 80%;
        --contentWidth: 80%
    }
}

@media only screen and (max-width: 1290px) {
    :root {
        --width: 85%;
        --contentWidth: 85%
    }
}

@media only screen and (max-width: 1190px) {
    :root {
        --width: 90%;
        --contentWidth: 90%
    }
    .layout {
        width: var(--width);
        margin: 0 auto;
    }
}

@media only screen and (max-width: 800px) {
    .blogs_all {
        display: block!important;
    }
    .kList {
        width: 100%!important;
    }
    .blogs_all .blog-design {
        width: calc(100% - 40px)!important;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .what_you_want p {
        width: 100%!important;
    }
    .my_apps {
        width: 100%!important;
        margin-right: 0px!important;
        margin-left: 0px!important;
    }
    .blogs_all .blog-design:nth-child(2n+2) {
        width: calc(100% - 40px)!important;
        margin-right: 0px;
        margin-left: 0px;
    }
    .menus {
        margin-top: 10px!important;
    }
    .header_blogs p {
        width: 100%!important;
    }
}


@media only screen and (max-width: 700px) {
    .header {
        padding: 5px 0px!important;
    }
    .search_area {
        margin-top: 10px;
        display: flex;
    }
    .search_area input {
        width: 100%;
    }
}









